@import url('components/card.css');
@import url('components/avatar.css');
@import url('components/footer.css');

body{
  font-size: 25px;
  font-family: 'Cutive Mono', monospace;
  font-weight: lighter;
  color: white;
}

h1{
  font-family: 'Poiret One', cursive;
  font-size: 60px;
  margin: 8px;
}

h1, h3 {
  margin: 0;
  text-shadow: 5px 5px 10px black;
}

h2 {
  margin: 0;
}

p {
  font-size: 15px;
  padding: 24px;
  margin: 8px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

