.card {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  background-color: rgba(223,202,202,0.8);
  border-radius: 0;
  border: none;
}

@media (max-width: 540px) {
  .card {
    width: 300px;
    margin: 50px auto;
  }

  .card h1 {
    font-size: 40px;
  }

  .card h3 {
    font-size: 20px;
    padding-top: 8px;
  }
}
